<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.telemedicine"
          tools:ignore="MissingVersion">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:targetApi="m"
            tools:ignore="GoogleAppIndexingWarning,RtlEnabled">
        <activity
                android:name="com.telemedicine.activities.LoginActivity"
                android:theme="@style/AppThemeNoBar" />
        <activity
                android:name="com.telemedicine.activities.SignUpActivity"
                android:parentActivityName="com.telemedicine.activities.WelcomeActivity"
                android:label="Register"
                android:theme="@style/AppThemeNoBar" />
        <activity
                android:name="com.telemedicine.activities.ProfileActivity"
                android:parentActivityName="com.telemedicine.activities.HomeActivity"
                android:label="Profile"
                android:theme="@style/AppThemeNoBar" />
        <activity
                android:name="com.telemedicine.activities.NotificationsActivity"
                android:parentActivityName="com.telemedicine.activities.HomeActivity"
                android:label="Notifications"
                android:theme="@style/AppThemeNoBar" />
        <activity
                android:name="com.telemedicine.activities.HomeActivity"
                android:label="Home"
                android:theme="@style/AppThemeNoBar" />
        <activity
                android:name="com.telemedicine.activities.MainActivity"
                android:parentActivityName="com.telemedicine.activities.HomeActivity"
                android:label="DoctorsList"
                android:theme="@style/AppThemeNoBar" />
        <activity
                android:name="com.telemedicine.activities.WelcomeActivity"
                android:label="@string/title_activity_welcome"
                android:theme="@style/AppThemeNoBar" />
        <activity
                android:name=".activities.SplashActivity"
                android:noHistory="true"
                android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        </application>
</manifest>